// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
//************************NAVBAR TWEEKS************************
//aligns menu items to the right


.assistive-text {
  height: 1px; 
  width: 1px; 
  position: absolute; 
  overflow: hidden; 
  top: -10px;
}


#navbarNavDropdown {
  justify-content: flex-end;
}

//gets rid of round edges on child menu elements
.dropdown-menu {
	border-radius: 0;
}

//force underline on sub-menu hover
.dropdown-item:focus, .dropdown-item:hover {
	text-decoration: underline;
}

//prevent default fade to non-accessible on pages that are not the active page
.navbar-dark .navbar-nav .nav-link {
  color: $dark-gray;
}

li.active {
	text-decoration: underline;
	color: $dark-gray;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#wrapper-navbar {
  margin-left: -15px;
  margin-right: -15px;
  background-color: transparent;
}

#the-menu {
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}

#main-menu {
  border-bottom: 2px solid lighten($primary, 50%);
  padding-left: 30px;
  padding-right: 30px;
}

#main-menu a {
  color: $primary;
  font-size: 1.1em;
  font-weight: 600;
  margin: auto 10px;
  padding-bottom: 30px;
}

.translation-block {
  flex-basis: 100%; 
  border-bottom: 2px solid lighten($primary, 50%);
  background-color: #fff;
  padding-right: 20px;
}

.translation-block a {
  width: 50px;
  float: right;
  margin-bottom: 4px;
  text-align: center;
}

.translation-block a:first-of-type {
  border-left: 2px solid $primary;
}

.qooler-nav{
  flex-basis: 100%;  
  display: flex; 
}

.btn-qooler {
  margin-left: auto;
  margin-top: -70px;
  margin-bottom: 40px;
  color: $primary;
  background-color: #fff;
  border: 2px solid $primary;
  border-radius: 100px;
  padding: 10px 4 0px;
  margin-right: 20px;
}


.q-logo {
  margin-left: 50px;
  margin-top: 30px;
}
//***************WEATHER BLOCK********************//
#how-hot {
  font-family: sans-serif;
  font-size: 10em;
  font-weight: 800;
  color: #2d789d;
  right: 7%;
  display: block;
  z-index: 3;
  opacity: .8;
  text-align: right;
}

#how-hot .description {
  font-size: .5em;
}

.heavy {
  font-weight: 700;
  font-size: 3em;
  line-height: 1.1em;
}

.weather-row {
  background-image:linear-gradient(to right, rgba(245, 246, 252, 0.4), rgba(117, 19, 93, 0.6)), url('../imgs/desert-pano.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  padding: 120px 8vw;
}

.triangle-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 20px 0 20px;
  border-color: rgb(161,5,13) transparent transparent transparent;
  display: inline-block;
}


//*behind the idea orange rows*//

.orange-bars {
  margin-top: 50px;
  position: relative;
}


.orange-bars .bar, .orange-bars .bar-highlight {
  background: rgb(243,119,23);
  background: linear-gradient(351deg, rgba(243,119,23,1) 0%, rgba(197,44,128,1) 100%);
  display: inline-block;
}

.orange-bars .bar-highlight { 
  color: #fff;
  padding: 20px;
  position: absolute;
  width: 100%;
}

.orange-bars .top {
   top: 80px;
}


.orange-bars .bar-big, .orange-bars .bar-small {
  height: 80px;
}

.orange-bars .bar-big {
  width: 100%;
  position: absolute;
}

.orange-bars .bar-small {
  width: 100%;
  position: absolute;
  top: 80px;
}


//************************BASIC CONTENT CHOICES************************
article a {
	text-decoration: underline;
}

body, p, h1, h2, h3, h4, h5 {
	font-family: 'DM Sans', sans-serif;
}

#secondary img, article img, figure, img, img.wp-post-image {
	margin-bottom: 1em;
}

p {
	background-color: $white;
	padding: 1em .4em;
}

.table {
	background-color: $white;
}

.jumbotron {
	border-radius: 0;
}

.custom-header-img {
	height: 40vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

//arrows
#quiver {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.arrow {
  width:25px;
  height:25px;
  display:inline-block;
  background-image: url(../imgs/triangle_large.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: .7em;
  background-size: contain;
}


//BACKGROUND


//JUST BLOCKQUOTE
//from https://codepen.io/iPawan/pen/emrPKP
blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-size: 1.2em;
  line-height: 1.2;
  color: #666;


  /*Borders - (Optional)*/
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;    
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px; 
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

  /*Default Color Palette*/
blockquote.default{ 
  border-left-color: #656d77;
  border-right-color: #434a53;  
}


//BOOTSTRAP BREAKOUT

.break-out{
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
  color: rgba(0,0,0,.6);
  display: block;
}

.flexy {
  display: flex;
  justify-content: space-between;
}
