// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
//************************NAVBAR TWEEKS************************
//aligns menu items to the right


.assistive-text {
  height: 1px; 
  width: 1px; 
  position: absolute; 
  overflow: hidden; 
  top: -10px;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-image: url(../imgs/background_gradient.png);
}

p, li {
  color: #4E4E4E;
  font-size: 1.2em;
  background-color: transparent;
  padding: .3em 0;
}

.home h2, .home h3, .home h4 {
  font-size: 1.3em;
  font-weight: 700;
}


.qooler-nav, .qooler-nav .row, .qooler-nav .col-md-6 {
  padding: 0;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

//gets rid of round edges on child menu elements
.dropdown-menu {
	border-radius: 0;
}

//force underline on sub-menu hover
.dropdown-item:focus, .dropdown-item:hover {
	text-decoration: underline;
}

//prevent default fade to non-accessible on pages that are not the active page
.navbar-dark .navbar-nav .nav-link {
  color: $dark-gray;
}

li.active {
	text-decoration: underline;
	color: $dark-gray;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#wrapper-navbar {
  margin-left: 0;
  margin-right: 0;
  background-color: transparent;
}

#the-menu {
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

#main-menu {
  border-bottom: 2px solid $primary;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 17%;
}

#main-menu a, #secondary-menu a {
  color: $primary;
  font-size: .9em;
  font-weight: 500;
  margin: auto 10px;
  width: 100px;
}

#secondary-menu {
  padding-left: 30px;
  padding-right: 30px;
}


.translation-block {
  flex-basis: 100%; 
  border-bottom: 2px solid #046B99;
  background-color: #fff;
  padding-right: 20px;
}

.translation-block a {
  width: 50px;
  float: right;
  margin-bottom: 4px;
  text-align: center;
}

.translation-block a:first-of-type {
  border-left: 2px solid $primary;
}

.qooler-nav{
  flex-basis: 100%;  
  display: flex;
  background-color: $white;
}

.btn-qooler {
  margin-left: auto;
  margin-top: -70px;
  margin-bottom: 40px;
  color: $primary;
  background-color: #fff;
  border: 2px solid $primary;
  border-radius: 100px;
  padding: 10px 4 0px;
  margin-right: 20px;
}

#top-submit {
  height: 40px;
  position: absolute;
  right: 70px;
  bottom: 30px;
  background-color: #f8f8f8;
}

#top-submit:hover {
  background-color: $primary;
}

.q-logo {
  margin-left: 10px;
  margin-top: 30px;
  width: 560px;
}

.navbar-toggler {
  width: 100%;
  height: 50px;
  background-color: #c1f3e5;
  margin: 0;
  padding: 0;
}

.navbar-toggler-icon {
  height: auto;
}

.arrow-dwn {
width: 0;
height: 0;
border-style: solid;
border-width: 12px 22px 0 22px;
border-color: #26408e transparent transparent transparent;
margin-bottom: 2px;
}

//***************WEATHER BLOCK********************//
#conditions {
  text-align: left;
  color: #253f8e;
}

#how-hot {
  font-family: sans-serif;
  font-size: 6em;
  font-weight: 800;
  color: #253f8e;
  right: 7%;
  display: block;
  z-index: 3;
  opacity: .9;
}

#how-hot .description {
  font-size: .5em;
}

.heavy {
  font-weight: 700;
  font-size: 3em;
  line-height: 1.1em;
}

.weather-row {
  background-image:linear-gradient(to left, rgba(140, 155, 244, 0.3), rgba(117, 19, 93, 0.7)), url('../imgs/desert-pano.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  padding: 80px 8vw;
}

.triangle-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 20px 0 20px;
  border-color: rgb(161,5,13) transparent transparent transparent;
  display: inline-block;
}

.humidity {
  font-size: .2em;
  font-weight: 400;
}

//*behind the idea orange rows*//

.the-bars {
    background-color: #f8f8f8;
}

.orange-bars {
  margin-top: -30px;
  position: relative;
  padding: 0;
}

.orange-bars-donut {
  background: #f8f8f8;
  color: $dark-gray;
  padding: 10px;
}

.orange-bars .col-md-6, .orange-bars .col-md-4, .orange-bars .col-md-2{
  padding: 0;
  margin: 0;
}

.orange-bars h2 {
  padding: 20px 40px;
}

.orange-bars .bar, .orange-bars .bar-highlight {
  // background: rgb(243,119,23);
  // background: linear-gradient(351deg, #ffc107 0%, rgba(197,44,128,1) 100%);
  background: linear-gradient(360deg,#ffc107 0,#f80088 100%);
  display: inline-block;
}

.orange-bars .bar-highlight { 
  color: #fff;
  padding: 5px;
  width: 100%;
}

.orange-bars .top {
    margin-top: 80px;
    z-index: 5;
    position: relative;
}

.orange-bars .bar-big, .orange-bars .bar-small {
  height: 80px;
}

.orange-bars .bar-big {
  width: 100%;
}

.orange-bars .bar-small {
  width: 100%;
  margin-top: 80px;
}

#primary, .container-fluid {
  padding: 0;
}

.ugly {
  border: 5px solid;
  border-image-slice: 1;

  border-image-source: linear-gradient(to left, #f80088, #ffc107);
  width: 100%;
  background-color: #f8f8f8;
  display: block;
  position: relative;
}

.ugly:after {
  content: '';
  position: absolute;
  top:30px;
  left: -5px;
  width: 90%;
  height: 40px;
  background: linear-gradient(to left, #f80088, #ffc107);
  z-index: -10;
}

h1.ugly, h2.ugly  {
  font-size: 1.3em;
  padding: 5px 0 10px 30px;  
  background-color: #f8f8f8;
  width: 100%;
  height: auto;
  margin:0;
  line-height: 1;
  min-height: 60px;
}

h1.ugly:before, h2.ugly:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #ffc107;
  position: absolute;
  left:0;
}

.cat-holder {
  z-index: 5;
  padding-right: 40px;
}

.categories .col-md-8, #product-button {
  padding-left: 0
}

h2.ugly:after{
    height: 30px;
}

.cat-details {
  padding-top: 30px;
}

//*map zone*//
.map-zone {
  padding-top: 80px;
  background-color: #f8f8f8;
  padding-bottom: 60px;
}

.map-zone h2 {
  font-size: 1.2em;
  margin-top: 40px;
}

.map-zone p {
  padding-bottom: 0;
  padding-top: 0;
  background-color: #F8F8F8;
  font-family: DMSans-regular;
  color: #4E4E4E;
  font-size: 1.1em;
}

.map-tri {
  display: block;
  margin: 0 auto;
}

.orange-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../imgs/orange_bg.svg)
}

.callout {
  font-size: 2em;
  color: #fff;
  margin: 70px 50px 70px 60px;
  padding: 20px;
}

.thermal-globe {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../imgs/heat-map.gif)
}

//*qatar zone*//

.gray-bg {
  padding: 80px 0;
  background-color: #f8f8f8;
}

.white-bg {
  background-color: #fff;
}

 // .white-bg .col-md-12, .white-bg .col-md-8, .timeline .col-md-12 {
 //      padding-left: 0 ;
 //  }


.glasses {
  background-size: 60%;
  background-repeat: no-repeat;
  background-image: url(../imgs/white_glasses.svg)
}

.glasses.left {
    background-position: left top;
}

.glasses.center {
    background-position: center top;
}

.glasses.right {
    background-position: right top;
}

.qatar-text {
  margin-top: 30px;
  font-size: 1.8em;
}

//*doha zone*//

.orange-bg.flip {
  -webkit-transform:scaleX(-1);
  -moz-transform:scaleX(-1);
  -ms-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  transform:scaleX(-1);
  background-position: left;
}

.orange-bg.flip .callout {
 -webkit-transform:scaleX(-1);
  -moz-transform:scaleX(-1);
  -ms-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  transform:scaleX(-1);
}

.dunes {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../imgs/dunes.jpg);
}

//**charge**//

.qatar-text {
  padding-bottom: 100px;
}

.charge h2 {
  font-size: 2.5em;
  margin: 40px 80px;
  text-align: center;
}

//**categories**//
.categories {
  padding: 50px 50px;
  background-image: linear-gradient(175deg, #CEF6E4 29%, #7BE5E5 100%);
  width: 100%;
}

.cat-title-holder {
  height: 70px;
  display: flex;
  flex-direction: column;
}

.categories h3 {
  text-align: center;
  font-size: 1.1em;
  margin-top: 20px;
  vertical-align: bottom; 
  flex-grow: 1;
}

.product-icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../imgs/new_product.svg);
  width: 130px;
  height: 130px;
  margin: 0px auto;
}

.clicked {
  transition: all .2s;
}

.clicked .product-icon {
    transform: rotate(180deg);
    background-image: url(../imgs/new_product_blue.svg);
    transition: all .5s;
    margin-top: 20px;
}

.wearable-icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../imgs/new_wearable.svg);
  width: 130px;
  height: 130px;
  margin: 0px auto;
}

.clicked .wearable-icon {
    transform: rotate(180deg);
    background-image: url(../imgs/new_wearable_blue.svg);
    transition: all .5s;
     margin-top: 20px;
}

.spaces-icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../imgs/new_spaces.svg);
  width: 130px;
  height: 130px;
  margin: 0px auto;
}

.clicked .spaces-icon {
    transform: rotate(180deg);
    background-image: url(../imgs/new_spaces_blue.svg);
     transition: all .5s;
      margin-top: 20px;
}

.btn {
  width: 200px;
  text-decoration: none;
  margin: 20px 0;
  border-radius: 62px; 
}

.btn-learn {
  border: 2px solid #046B99;
  border-radius: 62px; 
  color: #046B99; 
  transition: .2s all;
}

.btn-learn:hover {
  background-color: #046B99;
  color: #fff;
}

.btn-submit {
  border: 2px solid #046B99;
  border-radius: 62px; 
  color: #fff; 
  background-color: #046B99;
  transition: .2s all;
}

.btn-submit:hover {
  background-color: transparent;
  color: #046B99;
}

.tri-cat {
  cursor: pointer;
}


//*DETAILS and participation*//

.timeline {
  background-color: #ebfbf9;
  padding: 60px 60px;
}

.timeline-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: columns;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.c-box {
  flex: 1 1 0px;
}

.rainbow-connection {
  background-image: url(../imgs/dash_gradient2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

// .connect:after {
//   content:'';
//   background-image: url(../imgs/dash_gradient2.svg);
//   background-repeat: no-repeat;
//   background-position: center;
//   width: 50%;
//   height: 10px;
//   top: 36%;
//   position: absolute;
//   background-size: contain;
//   left: 80%;
// }

.date-box {
  width: 100px;
  height: 100px;
  margin: 0 auto 0 auto; 
  text-align: center;
  vertical-align: middle;
  padding-top: 16%;
  line-height: 1;
  font-size: .8em;
  color: #000;
  font-weight: 700;
  background-color: #ebfbf9;
  outline: solid 10px #ebfbf9 ;
}

.plain {
   border: 3px solid #000;
}

.details .white-bg {
  padding: 0 60px;
}

// .plain:after{
//   content:'';
//   border: 2px dashed red;
//   border-image-slice: 1;
//   border-image-source: linear-gradient(to left, rgb(197,44,128), rgb(243,119,23));
//   position: absolute;
//   width: 100px;
// }

.date-box.ugly {
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, rgb(197,44,128), #ffc107);
}

.date-box {
  color: #000;
  text-transform: uppercase;
  position: relative;
  font-size: .7em;
}

.date-box .time {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
}

.date-box.ugly .time {
  background: linear-gradient(to left, rgb(197,44,128), #ffc107);
}

.timeline h2 {
  color: #4a4a4a;
}

.timeline .col-md-3 {
  text-align: center;
}

.timeline-detail {
  background-color: #ebfbf9;
  font-size: .9em;
  line-height: 1.3;
  color: #000;
  font-weight: 600;
  margin: 15px auto;
  display: inline-block;
  text-align: left;
}

.details h2, .entry-content h2 {
  color: #4E4E4E;
  margin: 40px 0 20px 0;
}

.details-text {
  margin-bottom: 40px;
}

.kludge {
  z-index: 1;
}


.entry-content {
   color: #4E4E4E;
   max-width: 1000px;
   margin: 100px auto;
 }

.entry-content ul {
  margin-bottom: 60px;
}

.entry-content li {
  color: #4E4E4E;
  font-size: 1.2em;
}

.criteria-row {
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.criteria-list h4 {
  margin:0;
  font-weight: 700;
}

.criteria-number {
  font-size: 3em;
  font-weight: 600;
  color: #424242;
  display: block;
  width: 80px;
  text-align: center;
  float: left;
  margin-top: 40px;
}

.criteria-text {
  display: inline-block;
  margin: 40px;
  width: 70%;
}

//AWARDS//
.awards {
  padding: 50px 60px;
}

.awards h2 {
  color: #4a4a4a;
  margin: 0;
}

.awards-list {
  margin-left: .4em;
}

.awards-list div {
  border: 4px solid red;
  padding: 5px 20px;
  width: 200px;
  margin: 5px 0;
}

.awards-list div:nth-child(even){
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #25408e, #c2f3e3);
}

.awards-list div:nth-child(odd){
   border-image-slice: 1;
  border-image-source: linear-gradient(to left, #c2f3e3, #25408e);
}

//JUDGES FRONT//

.judges {
  border-bottom: 10px solid red;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #f80088, #ffc107);
}

.judges-title {
  padding-left: 90px;
  margin-bottom: 45px;
  color: #fff;
}

.judges-row {
  background-color: #4d4d4d;
  padding: 45px 50px;
}

.carousel {
  margin-top: 30px;
  width: 100%;
}

.carousel-inner {
  padding: 0 70px;
  height: 300px;
}

.carousel-control-next, .carousel-control-prev {
  width: 80px;
}

.judge-slide {
  height: 460px;
  width: 100%;
}

.judge-single {
  position: relative;
  filter: grayscale(100%);
}

.judge-single a{
  text-decoration: none;
  transition: all .3s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.judge-single img {
  margin: 0;
  padding: 0;
  filter: grayscale(100%);
}

.judge-single h2 {
  background-color: #000;
  color: #fff;
  font-weight: 500;
  width: 100%;
  font-size: 1.2em;
  padding: 10px;
  position: relative;
  margin: 0;
}

.judge-single h2:after {
  content:'';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  right: 15px;
  bottom: 12px;
}

.judge-info {
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0;
  transition: all .4s;
}


.hover .judge-info {
  opacity: 100%;
  background-color: rgba(0,0,0,.7);
  width: 100%;
}


.carousel-control-prev-icon {
  background-image: url(../imgs/judge-arrow.svg);
}

.carousel-control-prev-icon:hover{
  margin-right: 4px;
}

.carousel-control-next-icon:hover{
  margin-left: 4px;
}

.carousel-control-next-icon {
    background-image: url(../imgs/judge-arrow.svg);
     -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 40px;
  height: 80px;
  opacity: 1;
  transition: all .2s;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
}

//front display submissions 

.front-subs {
  padding: 50px;
}

.ugly.front-sub-title {
  margin-bottom: 50px;
}

.single-sub-title {
  display: inline-block;
}

//************************JUDGES************************//
.blue-header {
  background-color: $primary;
  padding: 100px 115px 0 115px;
  color: #fff;
}

.entry-title {
  padding: 20px 0 50px 0;
}

.blue-glasses {
  background-size: 60%;
  background-repeat: no-repeat;
  background-image: url(../imgs/blue_glasses.svg)
}

.entry-title {
  font-family: DMSans-Regular;
  font-size: 3em;
  font-weight: 300;
}

.judge-holder, .category-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    margin: 0 100px;
}

.judge {
    margin: 30px;
    display: inline-block;
    color: #fff;
    height: 230px;
}


.judge h2 {
    text-align: left;
    font-size: 1em;
    margin-top: 30px;
    font-weight: 200;
    position: absolute;
    bottom: 0;
}

.judge .judge-back h2 {
  text-align: left;  
}


.magic-box {
  width: 70%;
  max-width: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 20px auto;
  border: 2px solid #fff;
}

.magic-box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.judge-title {
  padding: 10px 0 10px 0;
}

.judge-info {
  font-size: .8em;
  padding: 0px 20px 20px 20px;
}


.judge-triangle {
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
   width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
}

.judge-front{
  background-color: $primary;
  height: 230px;
  width: 100%;
}

.front, .judge-single, .judge-front {
  height: 100%;
}

.judge-front, .judge-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #424242;
    /* box-shadow: 0 0 10px #000; */
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.2);
    transition: all 1s ease;
}

// .judge-back {
//   transform: rotateY(180deg);
// }


// .flip-container, .hover {
//   transition: all 1s ease; 
// }

// .flip-container.hover .flipper,
// .flip-container.flip .flipper {
//   transform: rotateY(360deg);
// }

// .flip-container.hover .judge-back {
//   backface-visibility: visible;
//   z-index: 10000;
//   transform: rotateY(360deg);
//   transition: all 1s ease;
// }

// .flip-container .judge-back {
//   padding: 15px;
//   background-color: #efefef;
//   color: #000;
//   width: 100%;
//   height: 100%;
// }

// .flip-container.hover .front {
//   backface-visibility: hidden;
//   display: none;
// }


//*category details*//
.cat-box {
  padding: 60px;
  background-color: #257EA5;
  color: #fff;
  margin-bottom: 30px;
}

.cat-box h2 {
  margin-bottom: 30px;
}

.cat-box p {
  background-color: #257EA5;
  color: #fff;
  font-size: 1.1em;
  padding: 0;
  margin-bottom: 1.2em;
}

.cat-box-icons {
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}
.cat-products {
  background-image: url(../imgs/product_white.svg);
}

.cat-wearable {
  background-image: url(../imgs/wearable_white.svg);
}

.cat-spaces {
  background-image: url(../imgs/spaces_white.svg);
}





//*footer*//
#full-width-page-wrapper {
  padding-bottom: 0;
  padding-top: 0;
}

#wrapper-footer {
  border-top: 130px solid #046B99;
  border-bottom: 2px solid #046B99;
  background-color: #f8f8f8;
  height: 400px;
  margin-bottom: 30px;
}

.logo-bar {
  background-color: #f8f8f8;
}

.footer-bar {
   border-bottom: 1px solid $dark-gray;
   margin: 0 auto;
   height: 10px;
   margin: 0 20px;
}

.footer-q-logo {
  width: 200px;
  float:right;
}

.footer-widget {
  background-color: #f8f8f8;
}

.footer-widget.right {
  text-align: right;
}

.terms {
  position: absolute;
  bottom: 0;
}

.footer-widget {
  padding-top: 30px;
  padding-bottom: 60px;
}

.left {
  padding-left: 40px;
  padding-top: 10px;
}

.right {
  padding-right: 40px;
  padding-top: 10px;
}

.social a {
  width: 80px;
  text-align: center;
  display: inline-block;
}

#footer a {
  color: $dark-gray;
}

#footer img {
  margin-bottom: 0;
}

//*************************FORM CSS***********************//
#gform_wrapper_2 {
  padding: 40px;
}

input[type=text], textarea, select {
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left,#E6007e,#Ffb300);
    background-color: #f8f8f8;
    display: block;
    position: relative;
}


//************************BASIC CONTENT CHOICES************************//
.qooler {
  color: #000;
  font-weight: 700;
  padding: .4em .2em 0 .2em;
  border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left,#f80088,#ffc107);
    display: inline-block;
}

.qooler.submit {
  width: 140px;
  text-decoration: none;
}

article {
   background-color: #f8f8f8;
   padding: 20px;
}

article a {
	text-decoration: underline;
}

body, p, h1, h2, h3, h4, h5 {
	font-family: 'DM Sans', sans-serif;
}

#secondary img, article img, figure, img, img.wp-post-image {
	margin-bottom: 1em;
}


.table {
	background-color: $white;
}

.jumbotron {
	border-radius: 0;
}

.custom-header-img {
	height: 40vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

//arrows
#quiver {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.arrow {
  width:25px;
  height:25px;
  display:inline-block;
  background-image: url(../imgs/triangle_large.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: .7em;
  background-size: contain;
}


//BACKGROUND


//JUST BLOCKQUOTE
//from https://codepen.io/iPawan/pen/emrPKP
blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-size: 1.2em;
  line-height: 1.2;
  color: #666;


  /*Borders - (Optional)*/
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;    
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px; 
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

  /*Default Color Palette*/
blockquote.default{ 
  border-left-color: #656d77;
  border-right-color: #434a53;  
}


//BOOTSTRAP BREAKOUT

.contain-it {
  max-width: 1140px;
  display: block;
  margin: 0 auto;
}

.break-out{
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
  color: rgba(0,0,0,.6);
  display: block;
}

.flexy {
  display: flex;
  justify-content: space-between;
}

.btn-cat-sub {
  border: 2px solid #fff;
  color: #fff;
  padding: 15px;
  width: 200px;
}

.carousel-inner {
  padding: 0 70px;
  height: 500px;
  background-color: #7e7e7e;
}
.carousel-item {
  width: 100%; /*width you want*/
  height: 500px; /*height you want*/
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.video-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.right-justify {
  text-align: right;
}

.bottom-buffer {
  padding-bottom: 40px;
}

.submission-slider {
  margin-top: 0;
}

.submission-border-top {
  border-top: 1px solid $dark-gray;
  padding-top: 10px;
}

.submission-border-bot {
  border-bottom: 1px solid $dark-gray;
  padding-bottom: 30px;
}

.submission-title {
  font-family: DMSans-Regular;
  font-size: 2rem;
  font-weight: 300;
}

#submissions {
  margin-bottom: 30px;
  margin-left: -15px;
}

.carousel-indicators {
  background-color: #f8f8f8;
  margin-right: 0;
  margin-left: 0;
  bottom: -10px;
}

.carousel-indicators li {
  background-color: #9e9e9e;
  width: 15px;
  height: 3px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  border-top: 0;
  border-bottom: 0;
}

@media (max-width: 768px) {
  #main-menu {
    border-bottom: none;
  }

  #how-hot {
    font-size: 4em;
    text-align: left;
  }

  .orange-bars .top {
    margin: 40px 20px;
  }

  .map-zone p {
    font-size: 1em;
    padding: 10px 30px;
  }

  .orange-bars .bar-big, .orange-bars .bar-small {
    display: none;
  }
  .categories {
    padding: 50px 50px;
  }
  .qatar-text, .details-text {
    padding-left: 30px;
    padding-right: 30px;
  }
  .judge-holder{
    margin: 0 20px;
  }
  .judge {
    margin: 30px 0;
  }
  .category-holder  {
    margin: 0 auto;

  }
  .cat-box-icons {
    height: 200px;
    margin-bottom: 20px;
  }
  .criteria-number {
      font-size: 3em;
      font-weight: 600;
      color: #424242;
      display: inline-block;
      width: 80px;
      text-align: center;
      margin: 40px auto;
      display: block;
      float: none;
    }
    .connect:after {
      display: none;
    }

    .criteria-text {
      margin: 40px 0;
      width: 100%;
    }

    .timeline-row {
      flex-wrap: wrap;
    }

    .c-box {
      width: 90%;
      flex: none;
    }

    .timeline-detail {
      text-align: center;
      width: 100%;
    }

    .details .white-bg {
      padding: 0;
    }
    
    .qooler.submit {
      margin: 30px 0;
    }
    .details {
      margin: 0 15px;
      width: auto;
    }
 }


/*
  JUST JUDGES SLIDER STUFF
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
   
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}